.container{
    display:flex;
    height: 370px;
    padding: 20px 0px 10px 0px;
    position: relative;
    z-index: 0;
}

.text{
    text-align: center;
    margin: 5px;
}


@media (max-width: 560px){
    .container{
        display: none;
    }    
    
}